@model Events.IO.Application.ViewModels.EventViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Event Address</strong>
    </div>

    @if (Model.Address != null)
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Address.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.Province)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Address.Address1)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.Address2)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.Province)
                </td>
                <td>
                    <div>
                        <a asp-action="UpdateAddress" asp-route-id="@Model.Id" data-modal="" class="btn btn-warning">
                            <spam title="Edit" class="glyphicon glyphicon-pencil"></spam>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    <a asp-action="AddAddress" asp-route-id="@Model.Id" data-modal="" class="btn btn-info">
                        <spam title="Add Address" class="glyphicon glyphicon-plus-sign"></spam> Add Address
                    </a>
                </th>
            </tr>
        </table>
    }
</div>
<script>
    AjaxModal();
</script>