@model IEnumerable<Events.IO.Application.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "My Events";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary">
                <span title="New Event" class="glyphicon glyphicon-plus-sign"></span> New Event
            </a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Online)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.StartDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.EndDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @{
                    if(item.IsFree)
                    {
                        @Html.DisplayName("Free")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Price)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Online)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <spam class="glyphicon glyphicon-pencil"></spam>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                    <spam class="glyphicon glyphicon-search"></spam>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <spam class="glyphicon glyphicon-trash"></spam>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
